PORT=5050
NODE_ENV=development
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb://127.0.0.1:27017/shopping_cart

REDIS_URL=redis://127.0.0.1:6379

JWT_SECRET=replace_me_with_a_long_random_secret
JWT_EXPIRES_IN=7d

GUEST_CART_TTL=604800
